.with-right-sidebar-layout{
    display: grid;
    grid-template-areas:
        "content sidebar" ;
    grid-template-columns:  1fr 280px;
    // grid-template-columns:  1fr 320px;
    grid-template-rows: 1fr;
    position: relative;
    gap: 4rem;
    padding: 0 var(--ck-page-margin-x);
    .sidebar{
        margin-top: 4rem;
        grid-area: sidebar;
        .sidebar-nav{

            position: sticky;
            top: 5rem + 3rem;
        }
    }
    .page-content{
        grid-area: content;
    }
     
    .section-page{
        .section-body{
            padding-left: 0;
            padding-right: 0;
        }
    }
}