// Additional customization for this page
@import "/src/styles/variables";

.landingPageA {
  --ck-primary: #755cd2;
  --ck-primary-rgb: 117, 92, 210;
  --ck-secondary: #ffee58;
  --ck-secondary-rgb: 255, 238, 88;
  --ck-success: #1bb1b2;
  --ck-success-rgb: 27, 177, 178;
  --ck-fg-color: #212529;
  --ck-fg-color-rgb: 33, 37, 41;
  --ck-bg-color: #ffffff;
  --ck-bg-color-rgb: 255, 255, 255;
  --ck-white-primary: #f1effb;
  
  --ck-page-margin-x: 32px;
  --ck-page-margin-y: 16px;
  --ck-page-margin-md-y: 40px;
  --ck-page-margin-lg-y: 64px;
  --ck-width-small: 40rem;
  --ck-width-medium: 52rem;
  --ck-width-large: 64rem;

  --ck-navbar-content-width: var(--ck-width-large);
  --ck-section-content-width: var(--ck-width-large);

  --ck-section-margin-y: 4rem;
  @media screen and (min-width: $breakpoint-lg) {
    --ck-section-margin-y: 8rem;
  }
}

/* Typography */
.title1 {
  font-weight: bold;
  font-size: 3.5rem;
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 6.5rem;
  }
}
.title2 {
  font-weight: bold;
  line-height: 1.2;
  font-size: calc(1.525rem + 3.3vw);
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 4rem;
  }
}
.title3 {
  font-weight: bold;
  line-height: 1.2;
  font-size: calc(1.475rem + 2.7vw);
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 3rem;
  }
}

.textMedium {
  font-size: 1rem;
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 1.25rem;
  }
  p {
    font-size: inherit;
  }
  ul,
  li {
    font-size: inherit;
  }
}
.textLarge {
  font-size: 1.25rem;
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 1.5rem;
  }
  p {
    font-size: inherit;
  }
  ul,
  li {
    font-size: inherit;
  }
}
.textXLarge {
  font-size: 1.375rem;
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 2rem;
  }
  p {
    font-size: inherit;
  }
  ul,
  li {
    font-size: inherit;
  }
}

.fwThin {
  font-weight: 100;
}
.fwLight {
  font-weight: 300;
}
.fwRegular {
  font-weight: 400;
}
.fwSemiBold {
  font-weight: 500;
}
.fwBold {
  font-weight: 600;
}
.fwExtraBold {
  font-weight: 700;
}
.textMuted1{
  opacity: 0.5;
}
/* Colors */
.colorWhite {
  color: var(--ck-white);
}
.colorPrimary {
  color: var(--ck-primary);
}
.colorSecondary {
  color: var(--ck-secondary);
}
.colorSuccess {
  color: var(--ck-success);
}
.bgColorWhitePrimary {
  background-color: var(--ck-white-primary);
}
.bgColorPrimary {
  background-color: var(--ck-primary);
}

/* Size, width */
.wSmall{
  max-width: 360px;
}

/* Alignments */
.alignCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.alignStart{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.alignEnd{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

/* Components */
.navbarTop {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s;
  backdrop-filter: blur(0px);
  // position: sticky;
  // @media screen and (min-width: $breakpoint-lg) {
  //   margin-top: calc(var(--ck-page-margin-lg-y) - 8px);
  // }
}


.scrolled{
  .navbarTop{
    top: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.5);
  }
}