.form{
    display: flex;
    flex-wrap: wrap;
}
.inputGroup{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.input{
    display: block;
    width: 100%;
}
.inputField{
    flex: 1 0;
    margin-right: 8px;
}
.button{
    border: none;
    background: none;
    padding: 0;
    width: auto;
    flex: 0 auto;
    color: currentColor;
    transition: 0.3s;
    &:hover{
        opacity: 0.7;
    }
}
