.hero-b{
    min-height: 512px;
    display: flex;
    &.hero-fullscreen{
        min-height: 100vh;
    }
    &.mb-section{
        margin-bottom: 4rem;
    }
    &.hero-fit-height{
        min-height: auto;
    }
    .hero-body{
        // align-self: flex-end;
        position: relative;
        // padding-left: 1rem;
        // padding-right: 1rem;
        padding: 0rem var(--ck-page-margin-x);
        width: 100%;
    
        @media screen and (min-width : $breakpoint-lg) {
            padding-bottom: 4rem;
        }
    }
    .h-title{
        // font-size: ;
    }
    label, .label,
    h5{
        font-size: 1.125rem;
    }
    .content-text{
        display: flex;
        height: 100%;
        .c-group.align-top{
            align-self: flex-start;
            @media screen and (min-width : $breakpoint-lg) {
                margin-bottom: 4rem;
            }
        }
        .c-group.align-end{
            margin-bottom: 2rem;
            align-self: flex-end;
            @media screen and (min-width : $breakpoint-lg) {
                margin-bottom: 4rem;
            }
        }
    }
}