.hero-text {
  padding: 4rem 0;
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    padding: 4rem 0;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 4rem 0;
  }
}
