.section-page{
    .section-body{
        padding: 4rem var(--ck-page-margin-x);
        position: relative;
    }
    p{
        font-size: 1rem;
        // line-height: 1.7;
        @media screen and (min-width : $breakpoint-lg) {
            font-size: 1.125rem;
        }
    }
    .content-text{
        h3{
            margin-bottom: 2.5rem;
        }
        ul.list{
            margin-top: 2rem;
            li{
                margin-bottom: 1rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .btns{
            margin-top: 3rem;
        }
    }
}