.btnSolidB {
  padding: 0.75em 1.75em;
  cursor: pointer;
  min-height: 48px;
  line-height: 1.5;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  color: white;
  background-color: var(--ck-primary);

  .icon {
    font-size: 1.25em;
    line-height: 0.75;
  }

  .text~.icon {
    margin-left: 1rem;
  }

  .icon~.text {
    margin-left: 1rem;
  }
}

//size
.large {
  font-size: 1.25rem;
}

.small {
  font-size: 0.875rem;
}

// width
.widthAuto {
  min-width: 0;
}

.widthFull {
  min-width: 100%;
}

// colors
.primary {
  background-color: var(--ck-primary);
  color: var(--ck-white);

  &:hover {
    // background-color: adjust-hue(var(--ck-primary), 10);
    box-shadow: 0px 4px 8px rgba(var(--ck-primary-rgb), 0.35);
    filter: hue-rotate(10);
  }

  &.color-invert {
    color: var(--ck-primary);
    background-color: var(--ck-bg-color);
    filter: brightness(0.95);
  }
}

.secondary {
  background-color: var(--ck-secondary);
  color: var(--ck-white);
  box-shadow: 0px 8px 24px rgba(var(--ck-secondary-rgb), 0.35);

  &:hover {
    // background-color: adjust-hue(var(--ck-secondary-rgb), 10);
    box-shadow: 0px 4px 8px rgba(var(--ck-secondary-rgb), 0.35);
    filter: hue-rotate(10);
  }
}

.light {
  background-color: var(--ck-primary-light);
  color: var(--ck-primary);
  box-shadow: 0px 8px 32px rgba(var(--ck-primary-rgb), 0.1);

  &:hover {
    // background-color: lighten(var(--ck-primary), 30);
    box-shadow: 0px 4px 8px rgba(var(--ck-primary-rgb), 0.2);
    filter: hue-rotate(10);
  }
}