.colors{
    margin-top: 0.25rem;
    display: flex;
    .colorIcon{
        display: block;
        position: relative;
        margin-left: 0.5rem;
        &:first-child{
            margin-left: 0;
        }
    }
}
.colorIcon{
    border-radius: 1em;
    display: block;
    width: 1em;
    height: 1em;
    background-color: var(--light);
    box-shadow: 0px 0px 0px 1px rgba(gray, 0.2);
}