@import "/src/styles/variables";

.homeA {
    color: var(--ck-dark);
}

.navbarTop {
    display: block;
    padding: 0;
    margin-top: 0px;
    margin-top: var(--ck-page-margin-t);
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: 0.3s;
    z-index: 10;
    backdrop-filter: blur(6px);
    background-color: rgba(var(--ck-white-rgb), 0.75);
    transition: 0.3s;
}

/* Typography */
.title1 {
    font-weight: bold;
    font-size: 3.5rem;

    @media screen and (min-width: $breakpoint-lg) {
        font-size: 6.5rem;
    }
}

.title2 {
    font-weight: 600;
    line-height: 1.2;
    font-size: calc(1.575rem + 3.9vw);
    margin-bottom: 1rem;

    @media screen and (min-width: $breakpoint-lg) {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
    }
}

.title3 {
    font-weight: 600;
    line-height: 1.2;
    font-size: calc(1.475rem + 2.7vw);
    margin-bottom: 1rem;
    @media screen and (min-width: $breakpoint-lg) {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
}

.textMedium {
    font-size: 1rem;
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 1.25rem;
    }
    p {
      font-size: inherit;
    }
    ul,
    li {
      font-size: inherit;
    }
  }
  .textLarge {
    font-size: 1.25rem;
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 1.5rem;
    }
    p {
      font-size: inherit;
    }
    ul,
    li {
      font-size: inherit;
    }
  }
  .textXLarge {
    font-size: 1.375rem;
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 2rem;
    }
    p {
      font-size: inherit;
    }
    ul,
    li {
      font-size: inherit;
    }
  }