.imageC {
    position: relative;
    // padding: 1rem;
    // padding-top: 0;
    // @media screen and (min-width: 992px) {
    //     padding: 6rem;
    //     padding-top: 0;
    // }
}

.imageC .figureBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // z-index: -1;
}

.imageC img {
    position: relative;
    z-index: 0;
}

.figureBg {
    // border-radius: 96px 96px 32px 32px;
    background-size: cover;
    background-position: center center;
}

@media screen and (min-width: 992px) {
    .figureBg {
        // top: 6rem !important;
        // background-attachment: fixed;
        // border-radius: 96px 96px 32px 32px;
    }
}

.figureBg.bgRoundedSmall {
    border-radius: 16px;
}

.figureBg.bgRoundedMedium {
    border-radius: 32px;
}

.figureBg.bgRoundedLarge {
    border-radius: 96px;
}

.figureBg.bgTranslationLeft {
    @media screen and (min-width: 992px) {
        left: 6rem !important;
    }
}
.figureBg.bgTranslationRight {
    @media screen and (min-width: 992px) {
        right: 6rem !important;
    }
}
.figureBg.bgTranslationTop {
    @media screen and (min-width: 992px) {
        top: 6rem !important;
    }
}
.figureBg.bgTranslationBottom {
    @media screen and (min-width: 992px) {
        bottom: 6rem !important;
    }
}
.figureBg.bgAttachmentFixed {
    @media screen and (min-width: 992px) {
        background-attachment: fixed;
    }
}