.imageB {
    --image-b-m-x: 3rem;
    --image-b-m-y: 4.5rem;
    position: relative;
    padding-right: var(--image-b-m-x);
    padding-bottom: var(--image-b-m-y);

    @media screen and (min-width: 768px) {
        --image-b-m-x: 2rem;
        --image-b-m-y: 3rem;
    }

    @media screen and (min-width: 992px) {
        --image-b-m-x: 6rem;
        --image-b-m-y: 9rem;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.img1{
    position: relative;
}
.img2{
    position: absolute;
    left: var(--image-b-m-y);
    right: 0;
    bottom: 0;
}