.icon-color-a{
    border-radius: 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--ck-light);
    box-shadow: 0px 0px 0px 1px rgba(var(--ck-fg-color-rgb), 0.2);
}





