.IconA {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    >* {
        z-index: 0;
    }
}

.size-text {
    $size: 1em;
    img,
    svg {
        width: $size;
        height: $size;
    }

    >* {
        font-size: $size;
        line-height: 1;
    }
}
.size-xx-small {
    $size: 14px;
    img,
    svg {
        width: $size;
        height: $size;
    }

    >* {
        font-size: $size;
        line-height: 1;
    }
}
.size-x-small {
    $size: 16px;
    img,
    svg {
        width: $size;
        height: $size;
    }

    >* {
        font-size: $size;
        line-height: 1;
    }
}
.size-small {
    $small: 32px;
    img,
    svg {
        width: $small;
        height: $small;
    }

    >* {
        font-size: $small;
        line-height: 1;
    }
}

.size-medium {
    $medium: 40px;
    img,
    svg {
        width: $medium;;
        height: $medium;;
        line-height: 1;
    }

    >* {
        font-size: $medium;;
        line-height: 1;
    }
}

.size-large {
    $large: 48px;
    img,
    svg {
        width: $large;
        height: $large;
    }

    >* {
        font-size: $large;
        line-height: 1;
    }
}