.IconC {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    position: relative;
    border: 2px solid currentColor;

    >* {
        z-index: 0;
    }
}

.currentColor {
    border-color: currentColor;
}

.primary {
    border-color: var(--ck-primary);
}

.secondary {
    border-color: var(--ck-secondary);
}

.size-x-small {
    $size: 20px;

    img,
    svg {
        width: $size;
        height: $size;
    }

    >* {
        // font-size: $size;
        line-height: 1;
    }
}

.size-small {
    $size: 24px;
    min-height: $size;
    min-width: $size;

    img,
    svg {
        height: $size;
    }

    >* {
        // font-size: 24px;
        line-height: 1;
    }
}

.size-medium {
    min-height: 64px;
    min-width: 64px;

    img,
    svg {
        width: 32px;
        height: 32px;
        line-height: 1;
    }

    >* {
        // font-size: 32px;
        line-height: 1;
    }
}

.size-large {
    min-height: 80px;
    min-width: 80px;

    img,
    svg {
        width: 40px;
        height: 40px;
    }

    >* {
        font-size: 40px;
        line-height: 1;
    }
}

.shape-square {
    border-radius: 0px;
}

.shape-rounded-small {
    border-radius: 8px;
}

.shape-rounded-medium {
    border-radius: 16px;
}

.shape-rounded-large {
    border-radius: 24px;
}

.shape-circle {
    border-radius: 100vw;
}